<div id="nav">
	<div class="container">
		<div class="row">
			<div class="navbar navbar-fixed-bottom">
				<a href="/index" class="col-xs-3 btn">
				<strong>易网</strong>
				</a>
				<a href="/cart" class="col-xs-3 btn">
				<strong>购物车</strong>
				</a>
				<a href="/order/1" class="col-xs-3 btn">
				<strong>我的订单</strong>
				</a>
				<div class="dropdown">
					<a href="#" class="col-xs-3 btn dropdown-toggle" data-toggle="dropdown">
						<strong>管理</strong>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu pull-right">
									<li>
										<a href="/ordershop/1">店铺管理</a>
									</li>
									<li>
										<a href="/beeasy">申请加盟</a>
									</li>
									<li>
										<a href="/hire">我要兼职</a>
									</li>
									<li>
										<a href="/about">关于我们</a>
									</li>
									
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>