<hr>
<div class="container">
	<div class="row">
	<div class="col-xs-12">
				
					<span class="badge">
						<a style="color:white" href="/ordershop/1">订单管理</a>
					</span>
					<span class="badge">
						<a style="color:white"  href="/postshop/1">商品管理</a>
					</span>
					<span class="badge">
						<a style="color:white"  href="/poshop">发布商品</a>
					</span>
					<span class="badge">
						<a style="color:white"  href="/hire">店铺招人</a>
					</span>
					<span class="badge">
						<a style="color:white"  href="/hire">统计</a>
					</span>
	</div>
	</div>
</div>
<hr>