<div id="welcome">
	<div class="container">
		<div class="row">
			<div class="col-xs-7">
			<h6>欢迎：<strong><%=user%></strong>
			<a href="/logout">闪退</a></h6>
			</div>
			<div class="col-xs-5">
			<div class="pull-right">
			<h6><a href="/cart">我的购物车<span id="cartno" class="badge active"><%=num%></span></a></h6>
			</div>
			</div>
		</div>
	</div>
</div>