<%- include header%>   
<%- include welcome%>     
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="thumbnail">
            <img src="../images/ad.jpeg" class=" img-responsive">
            <div class="caption">
              <h2 class="text-center text-success">EasyOTO</h2>
		        
              <p class="lead text-center text-info">关注互联网创业
                <br>开启全民OTO的新时代
              </p>
             <p class="text-center">
                <a class="btn btn-primary" href="/login">立刻开启EasyOTO体验</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    <%- include nav%>
    <%- include footer%>      