<%-include header1%>
	<!--welcome 信息 -->
	<div id="welcome">
		<div class="container">
		<div class="row">
			<div class="col-xs-6">Welcome!<strong> <%=user%></strong></div>
			<div class="col-xs-6">
				<div class="pull-right">
					<a href="product_summary.html"><span class="btn btn-primary"><i class="icon-shopping-cart icon-white"></i> [ <%=num%>]我的购物车</span> </a> 
				</div>
			</div>
		</div>
	</div>
	</div>
	<!--topnav导航信息 在大屏模式下显示 小屏模式下隐藏 信息 -->
	<!--Ad模块 -->
	<!--MainBody 模块-->


	<!--bottomnav导航信息 在小屏、大屏模式下隐藏模式下显示 信息 -->
<%-include footer1%>