<form method="post" enctype="multipart/form-data">
						<div class="form-group">
							 <label>店铺名称</label>
<input type="text" class="form-control" name="shopname" maxlength="20" />
						</div>
						<hr>
						<div class="form-group">
							 <label >上传图片</label>
<input type="file" name="shoppic"/>
							<p class="help-block">
								请上传jpg、png、gif格式的图片
							</p>
						</div>
						<div class="form-group">
							 <label>店铺简介</label>
<input type="text" class="form-control" name="shopname" maxlength="20" />
						</div>