
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">EasyOTO开放平台</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
					<form class="navbar-form navbar-left" role="search" method="get" action="/search">
						<div class="form-group">
							<input type="text"  name="keyword" class="form-control" placeholder="能搜三山五岳四海八方"/>
						</div> 
						<button type="submit" class="btn btn-warning">E搜!</button>
					</form>
					<ul class="nav navbar-nav">
						<% if(locals.user){%>
						<li>
							<a href="/cart">购物车<span class="pull-right badge"><%if(locals.num){%><%=num%><%}%></span></a>
						</li>
						<li>
							<a href="/order">我的订单</a>
						</li>
						<li>
							<a href="/admin">个人管理</a>
						</li>
						<%}else{%>
						<li>
							<a href="/login">请登录</a>
						</li>
						


						<%}%>
					</ul>
				</div>
				
			</nav>
