单用户管理 密码修改


<%=users.role%> 增加 button， 申请成为商铺，由后台发申请至admin ,要填写form 
<%=users.ustate%>
<%=users.total%>


<form class="navbar-form navbar-left" role="search" method="post" action="/changePass">
						<div class="form-group">
							<input type="text"  name="newPass" class="form-control" placeholder="能搜三山五岳四海八方"/>
						</div> 
						<button type="submit" class="btn btn-warning">E搜!</button>
					</form>


					增加from ，可以修改自己的联系方式

