
 
      <div class="row">
        <div class="col-md-12 col-xs-12">
        <br>
          <div class="thumbnail">
          <img width="100px" height="100px" src="../images/ad.jpeg" class="img-circle img-responsive">
            <div class="caption">
              <h2 class="text-center text-success">EasyOTO</h2>
		          <br>
              <p class="lead text-center text-info" contenteditable="true">关注互联网创业
                <br>开启全民OTO的新时代
              </p>
            </div>
          </div>
        </div>
      </div>
