body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-bottom: 70px;
}
.badge{
	background-color:#1E90FF;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.navbar{
	background-color: #ffffff;
}

.op{

	padding-left: 0px;
	padding-right: 0px;
}

a:hover{

	text-decoration: none;

}

.breadcrumb{

	background-color: #ffffff;
	border-bottom:1px solid; 
}
.brand{

	color: #1E90FF;
}

.Female{
	color: #FFBBFF;

}

.price,.price:hover,.eachordertotal{
	color: #FF3030;

}

.navbar-default{

	background-color:#ffffff;
	border:none;

}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse{

	border-color: #FF7F00;

}

.navbar-default .navbar-nav > li > a {
  color:#FF7F00;
}


.navbar-default .navbar-brand{

	color:#FF7F00;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:#FF7F00;
}
.Female:hover {  
	color: #FF00FF

}

.Male{

	color: #63B8FF

}

.navbar{
  padding:5px 5px 5px 5px;
}


.tips,.info{
color: #FF7F00;

}


.pic {

display: block;
 margin: auto;


}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  vertical-align:middle;
  border-top: 0.5px solid #ffffff;
}

tr{
line-height:50px;

}


input{
border:0;
line-height:20px;
BACKGROUND-COLOR: transparent;

}


.show{

border:0;
}



.checkbox,.radio{display: inline-block;*display: inline;*zoom:1;height: 24px; line-height: 24px; margin-right: 20px;}
.checkbox ins,.radio ins{display: inline-block;*display: inline;*zoom:1; width: 23px; height: 22px; vertical-align: middle; background: url(http://www.bootcss.com/p/icheck/skins/square/blue.png) no-repeat; margin-right: 8px; -webkit-transition:all 0.1s linear; -moz-transition:all 0.1s linear; -o-transition:all 0.1s linear; -ms-transition:all 0.1s linear; transition:all 0.1s linear;vertical-align: middle;}
.radio ins{background-position: -120px 0px; }
.radio .hover{background-position: -144px 0px;}
.radio .checked{background-position: -168px 0px;}
.radio .enable{background-position: -214px 0px;}
.radio .disabled{background-position: -191px 0px;}
.checkbox span,.radio span{display: inline-block;*display: inline;*zoom:1;vertical-align: middle; }
